@import url('https://fonts.googleapis.com/css?family=Asul:400,700&display=swap');

* {
  box-sizing: border-box;
  color: white; /* used to be #353839*/ 
}

body {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black; /* new line for only dark mode */
  color: white; /* new line for only dark mode */
}

img {
  max-width: 100%;
}

.covid-notice {
  width: 100%;
  display: block;
  border-bottom: 1px solid;
  padding: 10px 0 8px 0;
}

.covid-notice a {
  color: blue;
  cursor: pointer;
  font-style: italic;
}

/* HEADER */
header {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

logo {
  display: block;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid;
  white-space: nowrap;
}

.shapes {
  width: 78px;
  margin-left: 10px;
}

nav {
  padding: 8px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

nav a {
  padding-right: 40px;
}

nav section .toggler {
  margin: 0;
  padding: 0;
  }

nav section div.panel {
  border: none;
  margin-top: 8px;
  margin-left: -10px;
}

nav section .toggler:hover {
  padding-left: 0px;
  color: blue;
}

nav section .toggler:after,
nav section.open .toggler:after {
  content: none;
}

nav section .panel {
  position: absolute;
  z-index: 99;
  border: none;
  display: flex;
  flex-direction: column;
  background-color: #111 /* used to be lightgray */;
}

nav section .panel a {
  padding-left: 10px;
  padding-top: 10px;
}

nav section .panel a:last-of-type {
  padding-bottom: 10px;
}

/* HOME */
.home_container {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-height: 100%;
  justify-content: center;
  align-items: center;
}

.home_container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home_container div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.home_container div.image-left {
  background-image: url(images/left.png);
  background-position: center;
  background-size: contain;
  z-index: 1;
  animation: left 2s ease;
  background-repeat: no-repeat;
}

.home_container div.image-right {
  background-image: url(images/right.png);
  background-position: center;
  background-size: contain;
  z-index: 1;
  animation: right 2s ease;
  background-repeat: no-repeat;
}

.image_middle {
  z-index: 0;
  animation: 2s ease-in-out;
}

@keyframes left {
  0% {
    transform: translateX(-15px)
  }

  100% {
    transform: translateX(0px)
  }
}

@keyframes right {
  0% {
    transform: translateX(15px)
  }

  100% {
    transform: translateX(0px)
  }
}

@keyframes middle {
  0% {
    transform: translateY(-15px)
  }

  100% {
    transform: translateY(0px)
  }
}

img .drawings {
  opacity: 0;
}

@keyframes fadein {
  0% {
    transform: translateY(7px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ABOUT */
main>.top,
main>.middle {
  border: 8px solid;
  margin-top: 40px;
  padding: 90px;
  }

main>.top {
  border-color: #3DA779;
}

main>.top p:last-of-type {
  margin-bottom: 0;
    }

main>.middle {
  border-color: #FECC00;
    }

main:last-of-type {
  margin-bottom: 40px;
}

.middle h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.about_bottom_spacer {
  display: none;
}

/* DROP-DOWNS */
section .toggler {
  cursor: pointer;
  width: 100%;
  padding: 14px 0;
  text-align: left;
  transition: 0.4s;
}

section .toggler:after {
  content: '\002B';
  font-weight: bold;
  float: right;
}

section.open .toggler {
  color: blue;
}

section.open .toggler:after {
  content: "\2212";
}

section .toggler:hover {
  padding-left: 10px;
  color: blue;
}

section .toggler:hover:after {
  color: blue;
}

section div.panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid;
}

section div.panel p {
  margin-top: 0;
}

/* RESOURCES */
.resources_general {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 50px;
  border-color: #3DA779;
}

.resources_general h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.resources_integer {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 50px;
  border-color: #FECC00;
}

.resources_integer h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.resources_rational {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 50px;
  border-color: blue;
}

.resources_rational h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.resources_algebra {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 50px;
  border-color: red;
}

.resources_algebra h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.resources_calculus {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 50px;
  border-color: #3DA779;
}

.resources_calculus h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

/* RESEARCH & JOBS */
.research_main {
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 90px;
  border-color: #3DA779;
}

.research_main p:last-of-type {
  margin-bottom: 0;
}

.article {
  border: 8px solid;
  padding: 10px 90px;
  margin-top: 40px;
}

.article .toggler {
  border-bottom: none;
}

.article section.open .toggler {
  padding-top: 90px;
}

.article section.open .panel {
  margin-bottom: 90px;
}

.article .panel {
  border: none;
}

.article .panel p:last-of-type {
  margin-bottom: 0;
}

.article.first {
  border-color: #FECC00;
}

.article.second {
  border-color: red;
}

.article.third {
  border-color: blue;
}

.image_container_with_caption {
  display: inline-flex;
  margin-bottom: 16px;
}

.image_container_with_caption .image_caption {
  padding-left: 20px;
  min-width: 280px;
  padding-top: 20px;
  margin-bottom: 21px;
  background-color: #111 /* used to be lightgray */;
}

table {
  margin-bottom: 1em;
  width: 100%;
}

table, th, td {
  border: 1px solid #333 ; /* new colour to make contrast less harsh */
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

/* CONTACT */
.contact_main {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 90px;
  border-color: #3DA779;
}

.contact_main h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.contact_row {
  cursor: pointer;
  width: 100%;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid;
  background-color: transparent;
  transition: .2s;
}

.contact_row p {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 14px 0;
  margin: 0;
  transition: ease .2s;
}

.contact_row .icon {
  display: inline-block;
  float: right;
  margin-top: 14px;
}

.contact_row p:hover {
  padding-left: 10px;
  color: blue;
}

.contact_main_b {
  flex-grow: 1;
  margin-top: 40px;
  border: 8px solid;
  margin-top: 40px;
  padding: 90px;
  border-color: #FECC00;
}

.contact_main_b h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid;
}

.contact_row_b {
  cursor: pointer;
  width: 100%;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid;
  background-color: transparent;
  transition: .2s;
}

.contact_row_b p {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 14px 0;
  margin: 0;
  transition: ease .2s;
}

.contact_row_b .icon {
  display: inline-block;
  float: right;
  margin-top: 14px;
}

.contact_row_b p:hover {
  padding-left: 10px;
  color: blue;
}

/* TEXT */
* {
  font-family: 'Asul', sans-serif;
  text-decoration: none;
  line-height: 1.45;
  font-size: 16px;
  color: white /* used to be #353839; */
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

logo a {
  font-size: 1.2rem;
}

a,
a em {
  color: #3DA779;
}

b {
  font-weight: 700;
}

logo a,
h1,
h2,
nav a,
nav *,
footer a {
  font-weight: 700;
  color: #353839;
}

nav a,
nav *,
footer a {
  font-weight: 400;
  font-size: 0.833rem;
}

section .toggler h1 {
  max-width: calc(100% - 14px);
}

h2 {
  margin: 0;
  margin: 0;
}

a:hover,
a em:hover,
nav *:hover {
  text-decoration: none;
  color: #2846FF;
}

nav a.active,
nav .toggler.active,
nav a.active:hover,
nav .toggler.active:hover {
  color: #3DA779;
}

.icon {
  height: 20px;
  padding-left: 6px;
  vertical-align: text-bottom;
}

ul {
  margin-top: -1em;
  list-style-position: outside;
  padding-left: 1.1em;
    }

ol {
  margin-top: 0em;
  list-style-position: outside;
  padding-left: 20px;
}

ol li {
  padding-left: 10px;
}

ul ul {
  margin-top: auto;
}

.apply_now_container {
  margin-top: 2em;
}

.apply_now {
  padding: 12px 18px;
  background-color: #3DA779;
  color: white;
  transition: .2s;
}

.apply_now:hover {
  background-color: #2846FF;
  color: white;
}

.photo_credit {
  font-size: 9.5px;
  font-weight: 400;
  color: darkgray;
}

/* CURRICULUM */
.curriculum {
  flex-grow: 1;
  border: 8px solid;
  margin-top: 40px;
  padding: 40px 90px 30px 90px;
  border-color: #3DA779;
}

.curriculum-101 {
  border-color: ;
}

.curriculum-incredible-integers {
  border-color: #FECC00;
}

.curriculum .toggler {
  border-bottom: none;
}

.curriculum .toggler:hover,
.curriculum .toggler:hover h1 {
  padding-left: 0px;
  color: blue;
  }

.curriculum section.open .toggler {
  padding-top: 50px;
  border-bottom: 1px dashed;
  color: black;
}

.curriculum section.open .panel {
  margin-bottom: 60px;
}

.curriculum .panel {
  border: none;
}

.curriculum .unit {
  border-bottom: 1px dashed;
}

.curriculum h1 {
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.curriculum h2 {
  margin-bottom: 24px;
  margin-top: 10px;
  padding-top: 4px;
}

.curriculum ul li {
  margin-top: 4px;
}


/* temporary */
h6 {
  padding: 46px 0 0 64px;
  margin: 0;
  font-size: 22px;
}

.covid-main {
  margin-top: 40px;
  flex-grow: 1;
  border: 8px solid;
  margin-top: 40px;
  padding: 90px;
  border-color: #3DA779;
  color: red;
}

.covid-main h1 {
  padding-bottom: 20px;
  margin-top: 0;
  padding-top: 0;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding: 8px 0;
  width: 100%;
  color: white;
}

footer div {
  display: flex;
  justify-content: space-between;
}

footer div:first-child a {
  padding-right: 40px;
}

footer div:last-child a {
  padding-left: 40px;
}

/* MOBILE */
@media screen and (max-width: 800px) {

  main>.top,
  main>.middle {
    padding: 40px;
    margin-top: 20px;
  }

  main:last-of-type {
    margin-bottom: 20px;
  }

  .contact_main,
  .portal_main,
  .research_main,
  .curriculum,
  .covid-main {
    padding: 40px;
    margin-top: 20px;
  }

  .article {
    padding: 10px 40px;
    margin-top: 20px;
  }

  .article section.open .toggler,
  .curriculum section.open .toggler {
    padding-top: 40px;
  }

  .article section.open .panel,
  .curriculum section.open .panel {
    margin-bottom: 40px;
  }

  footer {
    flex-direction: column-reverse;
    padding: 0 0 10px 0;
  }

  footer div:first-child {
    flex-direction: row;
    padding: 0;
  }

  footer div:last-child {
    flex-direction: row;
  }

  footer a {
    padding: 10px 0 0 0 !important;
  }
}

@media screen and (max-width: 700px) {
  .image_container_with_caption {
    flex-direction: column;
    margin-bottom: 0;
  }

  .image_container_with_caption .image_caption {
    padding-left: 0;
    padding-top: 10px;
    background-color: transparent;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: 15px;
    overflow-x: hidden;
  }

  logo {
    text-align: center;
  }

  nav {
    justify-content: space-around;
  }

  .covid-notice {
    text-align: center;
  }

  nav a {
    white-space: nowrap;
    padding: 0;
  }

  nav section div.panel {
    right: 15px;
    margin-top: 8px;
    padding-right: 12px;
  }

  .home_container img {
    display: none;
  }

  .home_container {
    background-image: url(images/home_image_mobile.png);
    max-height: 1000px;
    width: auto;
    margin: 20px 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home_container div.image-left {
    display: none;
  }

  .home_container div.image-right {
    display: none;
  }


  main>.top,
  main>.middle {
    border: none;
    border-bottom: 4px double #3DA779;
    padding: 12px 0 30px 0;
    margin-top: 40px;
    text-align: justify;
  }

  main>.middle {
    border-bottom: none;
    margin-top: 30px;
  }

  .contact_main,
  .portal_main,
  .research_main,
  .curriculum,
  .covid-main {
    border: none;
    margin-top: 40px;
    padding: 12px 0 30px 0;
    text-align: justify;
  }

  .curriculum {
    margin: 40px 0 0 0;
    padding: 0;
  }

  .curriculum .toggler {
    padding: 0;
  }

  .curriculum section.open .toggler {
    padding-top: 0px;
    padding-bottom: 12px;
  }

  .curriculum section.open .panel {
    margin-bottom: 0px;
  }

  .curriculum h1 {
    font-size: 18px;
  }

  .article {
    border: none;
    padding: 0;
    margin: 0;
    border-top: 4px double;
    text-align: justify;
  }

  .article:last-of-type {
    border-bottom: 4px double;
    margin-bottom: 40px;
  }

  .apply_now_container {
    text-align: center;
  }
}

@media screen and (max-width: 374px) {
  footer {
    flex-direction: column-reverse;
    text-align: center;
  }

  footer a {
    font-size: 11px;
    padding: 8px 0 0 0 !important;
  }

  footer div:first-child {
    flex-direction: column-reverse;
  }

  footer div:last-child {
    flex-direction: column;
  }
}






/* DARK MODE entire selection deleted to make dark mode default */
/*@media (prefers-color-scheme: dark) { */

  body {
    background-color: #272524;
  }
  nav section .panel {
    background-color: #9C9EA4;
  }
  ::selection {
    color: #272524;
    background: white;
  }

  .home_container div.image-left {
    background-image: url(images/left-dark.png);
    background-repeat: no-repeat;
  }

  .home_container div.image-right {
    background-image: url(images/right-dark.png);
    background-repeat: no-repeat;
  /* } */ 
  
  

  @media screen and (max-width: 550px) {
    .home_container {
      background-image: url(images/home_image_mobile_dark.png);
      }
    }


      /* WHITE */
  *,
  logo a,
  h1,
  h2,
  nav a,
  nav *,
  footer a,
  p,
  a em,
  h6,
  .covid-main h1,
  .covid-notice a,
  section.open .toggler,
  section.open .toggler:after,
  .curriculum section.open .toggler  {
    color: white;
  }


    /* ACCENT COLOR */

  a,
  a:hover,
  a.button.active,
  a.button.active:hover,
  section .toggler:hover,
  section .toggler:hover:after,
  nav section .toggler:hover,
  nav section .toggler.active,
  nav section.open .toggler,
  .contact_row p:hover,
  .covid-notice a:hover,
  .curriculum .toggler:hover,
  .curriculum .toggler:hover h1  {
    color: #4780C6;
  }


    /* BORDER & LINE ACCENT */

  .top,
  .middle,
  .article.first,
  .article.second,
  .article.third,
  main,
  .curriculum  {
    border-color: #6A8869 !important;
    }
}

/* Section that ChatGPT said to add for colour contrast and size...*/
  body {
    background-color: black;
    color: white;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  p,
  li {
    font-size: 1.05rem;
    margin-bottom: 1.2rem;
  }
  
  h1,
  h2,
  nav a,
  logo a {
    font-weight: 700;
    color: white;
  }


